@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    
}

.page1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow-x: hidden;
}

.blur{
   height: 25vw;
   width: 25vw;
   background: linear-gradient(43deg, rgb(186, 17, 46) 20%,purple 100%);
   position: absolute;
   border-radius: 50%;
   filter: blur(150px);
   top: 50%;
    left: -15%;
   z-index: 999;

}

.blur2{
    height: 25vw;
    width: 25vw;
    background: linear-gradient(43deg, yellow 20%,orange 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(250px);
    top: 20%;
    left: 95%;
    z-index: 999;
    
 }

.navbar{
    height: 15vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    /* background-color: rgba(0, 0, 0, 0.829); */
    font-family: "Syne", sans-serif;
}

.nav1 ,.logo{
    background-image: linear-gradient(43deg, rgb(186, 17, 46) 20%,rgba(255, 255, 0, 0.774) 100%);   
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    font-family: "Syne", sans-serif;
}

.nav1 h1{
    font-size: 2vw;
}

.nav1 h1 span{
    position: absolute;
    margin-top: 0.5vw;
    
    
}

.nav2{
    display: flex;
    gap: 30px;
    font-size: 2vw;
    color: lightgrey;
    font-size: 1vw;
    font-weight: 100;
    font-family: "Syne", sans-serif;
}
.nav2 h3{
    font-size: 1.2vw;
    font-weight: 500;
}
.navbar button{
    padding: 1vw 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Syne", sans-serif;
}

.heading {
    height: 40vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.829); */
}

.heading h1{
    font-size: 7.5vw;
    line-height: 1;
    text-align: center;
    /* font-size: 15vw; */
    background-image: linear-gradient(to right,rgb(255, 255, 255) 30%,rgba(102, 94, 94, 0.575) 50%,lightgrey 70%);   
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: 0 0 60px rgba(0, 0, 0, 0.566); */
    animation: anime 1s infinite alternate;
    font-family: "Syne", sans-serif;
     
}

@keyframes anime {
    100%{
        /* text-shadow: 0 0 60px rgba(255, 255, 255, 0.566); */
    }
}

.lower-txt{
    background-image: linear-gradient(43deg, rgb(160, 32, 53) 20%,rgba(255, 255, 0, 0.774) 100%);   
    -webkit-background-clip: text;
    color: transparent;
    /* text-shadow: 0 0 60px rgba(125, 42, 42, 0.566); */
    animation: anime2 1s infinite reverse;
}

@keyframes anime2 {
    100%{
        /* text-shadow: 0 0 60px rgba(255, 255, 0, 0.774) ; */
    }
}


.page1-content{
    height: 80vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.829); */
    position: relative;
}

.page1-content .left-page1{
    height: 20vh;
    width: 14%;
    font-size: 2vw;
    background-color: rgba(128, 128, 128, 0.279);
    backdrop-filter: blur(10px);
    padding-left: 1vw;
    position: absolute;
    border-radius: 30px;
    display: flex;
    /* align-items: center; */
    padding-left: 2vw;
    top: 5%;
    left: 10%;
    color: white;
    /* font-family: monospace; */
    /* font-weight: 200; */
    border: 0.2px solid rgba(255, 255, 255, 0.283);
    border-left: none;
    display: flex;
    flex-direction: column;
}


.page1-content .left2-page1{
    height: 20vh;
    width: 17%;
    font-size: 2vw;
    background-color: rgba(128, 128, 128, 0.279);
    backdrop-filter: blur(10px);
    padding-left: 1vw;
    position: absolute;
    border-radius: 30px;
    display: flex;
    /* align-items: center; */
    padding-left: 2vw;
    top: 35%;
    left: 10%;
    color: white;
    /* font-family: monospace; */
    /* font-weight: 200; */
    border: 0.2px solid rgba(255, 255, 255, 0.283);
    border-right: none;
    display: flex;
    flex-direction: column;
}

.card1{
    
}

.card1 h2{
    font-weight: 100;
    font-size: 4vw;
    margin-top: 1vw;
}

.card1 h3{
    font-size: 1vw;
    padding-bottom: 2vw;
    font-weight: 100;
}

.page1-content img{
    margin-top: 2vw;
    height: 75vh;
    width: 100%;
    object-fit: contain;
    object-position: center;
    padding-left: vw;
}


.right-page1{
    height: 30vh;
    width: 20%;
    /* background-color: aqua; */
    position: absolute;
    top: 20%;
    left: 70%;
    
}

.right-page1 p{
    font-size: 1.2vw;
    color: rgb(170, 158, 158);
}

.right-page1 button{
    padding: 1vw 2vw;
    border-radius: 50px;
    font-size: 1vw;
    margin-top: 2vw;
}

.dashboard {
    height: 15vh;
    width: 150%;
    background-color: #353131d6;
    transform: rotate(-3deg);
    border: 3px solid #353131d6 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.4vmax;
   font-family: "Syne", sans-serif;
   font-size: 1.5vw;
   margin-bottom: 10vh;
   z-index: 999;
   /* margin-top: 5vh; */
}

.dashboard i{
    background-image: linear-gradient(43deg, rgb(186, 17, 46) 20%,rgba(255, 255, 0, 0.774) 100%);   
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3vw;
}


/* ---------------------------------------------page2 here  */

.page2{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

.page2 .blur-page{
    height: 80vh;
    width: 3vw;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    left: 40%;
    top: 20%;
    transform: rotate(10deg);
}


.page2 .blur-page2{
    height: 80vh;
    width: 3vw;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    left: 40%;
    top: 20%;
    transform: rotate(90deg);
}

.page2 h1{
    color: white;
    height: 25vh;
    padding: 2vw;
    /* background-color: blueviolet; */
    font-size: 6vw;
    font-family: "Syne", sans-serif;
    text-align: center;

}

.page2-content{
    height: 75vh;
    width: 100%;
    /* background-color: cadetblue; */
    position: relative;
    display: flex;
    
}

.left-page2{
    width: 40%;
    height: 100%;
    /* background-color: antiquewhite; */
    color: white;
}

.left-page2 h2{
    font-size: 3.5vw;
    margin-left: 5vw;
    font-family: "Syne", sans-serif;
}
.left-page2 p{
    font-size: 1.1vw;
    margin-left: 5vw;
    padding: 2vw 0;
    color: rgba(128, 128, 128, 0.822);
}

.left-page2 h3{
    font-size: 1.2vw;
    margin-left: 5vw;
    line-height: 2;
}

.left-page2 i{
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    -webkit-background-clip: text;
    color: transparent;
    padding-right: 1vw;
}

.left-page2 button{
    margin-top: 3vw;
    font-size: 1.3vw;
    margin-left: 5vw;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    font-size: 1vw;
    margin-top: 2vw;
    background-color: transparent;
    font-size: 1.3vw;
    color: white;
    border: 1px solid white;
}

.right-page2{
    position: absolute;
    height: 100%;
    width: 60%;
    /* background-color: aquamarine; */
    left: 40%;
}

.right-page2 img{
    margin-top: 4vw;
    padding-left: 12vw;
    
    
}


/* -----------------------------------------qage3 from here  */

.page3{
    min-height: 100vh;
    width: 100%;
    background-color: black;
}


.blur-page3{
    height: 20vw;
    width: 20vw;
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    /* top: 50%; */
     left: -15%;
    z-index: 999;
 }

 .blur2-page3{
    height: 15vw;
    width: 15vw;
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    margin-top: 5vw;
     left: 80%;
    z-index: 999;
 }

.dashboard-page3 {
    height: 20vh;
    width: 100%;
    background-color: #353131d6;
    /* transform: rotate(-3deg); */
    border: 3px solid #353131d6 ;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding-left: 10%; */
    gap: 13rem;
    padding-left: 10%;
    /* text-align: center; */
   font-size: 1.5vw;
   /* z-index: 999; */
}

.elem1{
   color: white;

}

.dashboard-page3 h3{
    font-size: 1.2vw;
    
}

.page3 > h1{
    color: white;
    /* height: 25vh; */
    padding: 3vw;
    /* background-color: blueviolet; */
    font-size: 4vw;
    font-family: "Syne", sans-serif;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
} 
.swiper {
    width: 100%;
    padding-top: 5vw;
    padding-right: 65vw;
    padding-bottom: 50px;
    
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25vw;
    height: 17vw;
    margin-left: 2vw;
    border-radius: 20px;
    background-color: rgba(14, 12, 12, 0.34);
    border: 1px solid white;
    border-top: none;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.685), rgba(137, 17, 37, 0.26));
    box-shadow:  32px 32px 38px #7a0e0e62,
             -32px -32px 38px #270808da;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .img{
    height: 60px;
    width: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10%;
    left: 30%;
    gap: 10px;
    z-index: 999;
  }

  .img img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    /* position: absolute; */
    top: -10%;
    left: 30%;
    
  }

  .img h2{
    font-size: 4vw;
    color: red;
  }

  .star{
    font-size: 1vw;
    margin: 2.5vw;
  }

  .slide1 p{
    margin-left: 2vw;
    font-size: 1.3vw;
    /* background-color: aqua; */
    margin-right: 1.2vw;
    color: aliceblue;
  }

  .slide1 h4{
    margin: 2vw;
    margin-bottom: 0;
    color: white;
  }

  .slide1 h5{
    margin-left: 2vw;
    margin-bottom: 0;
    color: rgb(163, 160, 160);
  }





footer{
    height: 60vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1px;
    color: rgba(255, 255, 255, 0.82);
    position: relative;
}

.blur-footer{
    height: 25vw;
    width: 15vw;
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(200px);
    left: 5%;
    z-index: 999;
 }

 .blur2-footer{
    height: 20vw;
    width: 10vw;
    background: linear-gradient(43deg, rgb(186, 17, 46) 20%,yellow 100%);
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    /* top: 50%; */
    /* top: 380%; */
    right: 0;
    z-index: 999;
 }

footer h1{
    background-image: linear-gradient(43deg, rgb(186, 17, 46) 20%,rgba(255, 255, 0, 0.774) 100%);   
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 4vw;
    margin-top: 6vw;
}

.cardss{
    display: flex;
}

.card1-footer{
    height: 30vh;
    width: 30%;
    /* background-color: blueviolet; */
    /* margin: 3vw; */
    /* margin-top: 8vw; */
    margin-left: 4vw;
}

.card1-footer p{
    font-size: 1.1vw;
    padding: 2vw 0;
    color: gray;
}

.social img{
    height: 30px;
    width: 30px;
    margin-left: 0.3vw;
    border-radius: 50%;
}




.card2-footer,.card3-footer{
    height: 30vh;
    width: 20%;
    /* background-color: blueviolet; */
    /* margin: 3vw; */
    /* margin-top: 8vw; */
    margin-left: 7vw;
}


.card2-footer,.card3-footer h3{
    padding: 2vw 0;
    padding-bottom: 0;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.card2-footer h4{
    font-size: 1vw;
    line-height: 1.5;
    padding-top: 0.5vw;
}

.card3-footer h4{
    font-size: 1vw;
    line-height: 2.5;
}



footer .line{
    height: 0.1px;
    background-color: white;
    margin-top: 1vw;
}

footer h2{
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
    font-weight: 100;
    color: lightgray;
}